<h3>
  <%= link_to "Go Back", root_path %>
</h3>

<div class="mt-12">

  <h1>CSS Exercises</h1>

  <h2 class="mt-8">CSS Grid</h2>
  <ul class="mt-4">
    <% @css.where(subcategory: "CSS Grid").each do |exercise| %>

      <li>

        <%= link_to css_path(exercise) do %>
          <h3>
            <%= exercise.name %>
            <span>from <%= exercise.course %></span>
          </h3>
        <% end %>

      </li>

    <% end %>
  </ul>

  <h2  class="mt-8">CSS Flexbox</h2>
  <ul class="mt-4">
    <% @css.where(subcategory: "Flexbox").each do |exercise| %>

      <li>

        <%= link_to css_path(exercise) do %>
          <h3>
            <%= exercise.name %>
            <span>from <%= exercise.course %></span>
          </h3>
        <% end %>

      </li>

    <% end %>
  </ul>

</div>
